@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono[wght].woff2") format("woff2");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --vp-font-family-base:
    "Inter",
    "PingFang SC",
    "Source Han Sans SC",
    "Noto Sans CJK SC",
    "Microsoft YaHei",
    sans-serif;

  --vp-font-family-mono:
    "JetBrains Mono",
    "Cascadia Code",
    monospace;
}

.VPNavBarTitle .title {
  color: #409EFF;
  font-size: 26px;
  font-weight: 600;
}

.VPSidebarItem.level-0>.item .series-sidebar-title {
  color: var(--series-color);
  font-size: 17px;
  font-weight: 800;
  line-height: 1.45;
}